<div class="section" id="bucketlist"><!-- BUCKETLIST -->
  <h5 style="font-size:35px; padding-bottom:15px">To-do list</h5>

  <p style="text-align:center">My overarching goal is to replace existing education systems provided by government with a new type of outstanding education, one designed to make a free and happy life the norm in society.</p>

  <p style="text-align:center; padding-bottom:15px">Until then a few things I'd like to do include:</p>

  <h3>Learn Krav Maga</h3>
  <h3>Couchsurf through an entire country or region</h3>
  <h3>Motorbike across Myanmar</h3>
  <h3>Work on the relief effort of a major humanitarian disaster</h3>

</div><!-- /BUCKETLIST -->
