<div class="section" id="intro"><!-- INTRO -->
  <h5 style="font-size:20px; margin-top:20px; margin-bottom:20px;">Chinese Student & Aspiring Entrepreneur</h5>
  <h4>Passionate about innovation and creation, learning and progress, travel and exploration.</h4>
  <p>I traded my nascent career in finance for a life focused on learning new skills, living in new places, pursuing adventure and exploring my passions.</p>
  <p>Right now I am living in <strong>Shanghai, China</strong>, where I am spending my days learning to speak Mandarin at East China Normal University.</p>      
  <p>Other projects I have worked on since leaving the corporate world include working at a small microlender in Ghana and <code>learning how to code</code>.</p>
</div><!-- /INTRO -->