<div id="contactcontainer"><!-- CONTACT -->
  <div class="section" id="contact">
    <h2 style="font-size:55px; font-weight:300; color:white;">CONTACT ME</h2>
          <%= image_tag "rc-sw.JPG", id: "contactpic" %>
    <p>I’m always keen to meet people with mutual interests and a similar approach to life.</p>
    <p>If you are interested in sharing ideas or working together then I'd love to hear from you. You can reach me at <span style="color:#FD6B57; font-weight:400; background-color:white;">ryancrocombe@gmail.com</span>.</p>

  <%= render 'socialmedia' %>

  </div>
</div><!-- /CONTACT -->