<div class="section" id="ventures"><!-- VENTURES -->
  <h2 style="text-decoration:underline">Startups</h2>

  <p style="text-align:center; padding-bottom:15px">
 	I'm currently in the early stages of my first startup project. I'm inspired by the <%= link_to "Need/Want", "http://www.needwant.com", target: "_blank" %> model, so plan to build a portfolio of products and companies over time. I'm primarily interested in business ventures in the following areas:</p>

  <h5>Food & Drink</h5>
  <h5>Travel</h5>
  <h5>Health & Fitness</h5>
  <h5>Men's Fashion</h5>
  <h5>Language Learning</h5>
  <h5 style="padding-bottom:12px;">Fintech</h5>


</div><!-- /VENTURES -->