<div class="section" id="ventures"><!-- VENTURES -->
  <h2 style="text-decoration:underline">Startups</h2>

  <p style="text-align:center; padding-bottom:15px">After my focus moves from learning Mandarin, I'd like to start my own company or join an existing project. I'm primarily interested in ventures in these areas:</p>

  <!-- Images with text centrally on top in white, description below pic in black -->
  <h5>Food & Drink</h5><!-- bird's eye pic of kitchen table with fresh produce laid out etc -->
  <h5>Travel</h5>
  <h5>Health & Fitness</h5>
  <h5>Men's Fashion</h5>
  <h5>Language Learning</h5>
  <h5 style="padding-bottom:12px;">Banking & Investing</h5>


</div><!-- /VENTURES -->