<div id="homecontainer"><!-- HOME BANNER -->
  <div id="home">
    <div class="row">

      <div class="col-md-3">
        <%= image_tag "ryan-wall.jpg", class: "profilepic", style: "max-height:140px;max-width:140px;" %>
      </div>

      <div class="col-md-9">
        <h3 style="color:white; padding-top:15px;">RYAN CROCOMBE</h3>
        <h5 style="color:white;">English Editing Services</h5>
      </div>
    </div>
  </div>                  
</div>
<!-- /HOME BANNER -->

<div class="pagecontainer">

	<div class="section" id="intro">
		<h5 style="font-size:20px; letter-spacing:2px; margin-top:15px; margin-bottom:15px">High quality English editing</h5>
		<h4 style="font-size:24px; padding-bottom:15px;">Fast turnaround   |   Professional quality   |   Reasonable price<h4>

		<p style="margin-bottom:25px;">I am a native English speaker from the United Kingdom, educated to masters degree level with several years of experience writing professional reports and publications for Barclays Bank and its clients.</p>

		<p style="margin-bottom:5px">I specialise in writing and editing professional and formal documents in both American and British English, including:</p>

		 <h5 style="font-size:24px">SCIENTIFIC RESEARCH</h5>
		 <h5 style="font-size:24px">INVESTMENT REPORTS & BUSINESS PLANS</h5>
		 <h5 style="font-size:24px">PHD & MASTERS THESIS</h5>
		 <h5 style="font-size:24px">ARTICLES FOR MAGAZINES & MEDIA</h5>
		 <h5 style="font-size:24px">WEBSITE CONTENT</h5>
		 <h5 style="font-size:24px">INTERNAL COMPANY DOCUMENTS</h5>
		 <h5 style="font-size:24px">COMMUNICATIONS WITH CUSTOMERS</h5>
		 <h5 style="font-size:24px; margin-bottom:40px;">PRESS RELEASES</h5>

		 <hr class="divider">
		 <br>

		 <h2 style="font-size:32px; font-weight:300;">CONTACT ME</h2>

		 <p style="margin-bottom:40px;">Whether you are a company or an individual, if you have a project that requires native-level English I would love to help. You can contact me any time at:</p>

		<div class="row" style="margin-bottom:15px;">
			<%= image_tag "wechat-glyph.png", id: "contacticonsbottom", style: "display:block-inline; margin-right:20px;" %>	
			<p style="display:inline">ryancrocombe</p>
		</div>
		<div class="row" style="margin-bottom:40px;">
			<%= image_tag "email-glyph.png", id: "contacticonsbottom", style: "display:block-inline; width:24px; margin-right:20px;" %>	
			<p style="display:inline">ryancrocombe@yahoo.com</p>
		</div>
	</div>


</div>

<footer><!-- FOOTER -->

  <div class="row">
      <p style="text-align:right; font-size:14px;">ryancrocombe.com | 2016</p>
  </div>
</footer><!-- /FOOTER -->