	<header>
		<div class="row">
			<div class="col-md-3">
				<div id="profilepic">
					<%= link_to (image_tag "Ryan.jpg"), "#", target: "_blank" %>
				</div>
			</div>

			<div class="col-md-9">
				<h1>
					RYAN CROCOMBE
				</h1>
				<hr>
				<div id="contacticons">
					<%= link_to (image_tag "linkedin-thumb.png"), "http://lnkd.in/b9NHtmS", target: "_blank" %>
					<%= link_to "EMAIL", "#", target: "_blank" %>
					<%= link_to "BLOG", "#", target: "_blank" %>
				</div>
			</div>
		</div>
	</header>

	<div class="clear"></div>