<div class="page-container">
	<h3 class="title">Posts I've Written</h3>

	<div id="posts-wrapper" class="skunny-wrapper">
		<div class="post">
			<h5><a href="#">Post title</a></h5>
			<p>Sunday October 16th</p>
			<hr>
		</div>
		<div class="post">
			<h5><a href="#">Post title</a></h5>
			<p>Sunday October 16th</p>
			<hr>
		</div>
		<div class="post">
			<h5><a href="#">Post title</a></h5>
			<p>Sunday October 16th</p>
			<hr>
		</div>				
	</div>

	<div class="pagination">
		<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a rel="next" href="#">2</a>
		<a class="next_page" href="#">Next</a>
	</div>

</div>

